<!DOCTYPE html>
<html lang={{ app.request.locale }}>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1" />


    {% set base_title = 'Apartmani Babuder' %}
    {% set base_description = 'Apartmani Babuder' %}

    <title>{% block title %}{{ base_title }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{{ base_description }}{% endblock %}" />


    <link rel="canonical" href="https://proaudiomedia.com.hr">
    <link rel="alternate" href="{{ app.request.uri }}" hreflang="hr-hr"/>

    <link href="https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,200&display=swap" rel="stylesheet">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156005823-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-156005823-1');
    </script>
</head>
<body>


{% block body %}{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>
